# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyBuilder
target/

# Environments
.env
.venv
env/
venv/
ENV/

# mkdocs documentation
/site

# push.bat
push.bat

# config.json
config.bak.json

# email.json
email.bak.json

# test.py
test.py